

.blogContent-footer{
    @include pad{
        margin-bottom: $spacing-1*13;
    }
    @include mobile{
        margin-bottom: $spacing-1*5;
    }
    .share{
        display: flex;
        margin-bottom: $spacing-1*2;
    }
    .share-item{
        margin-right: $spacing-1*2;
        a{
            font-size: $fonz-size*2.5;
            font-weight: $fontWeight-Bold;
            color: #000000;
            @include pad{
                font-size: $fonz-size*2;
            }
            > img{
                @include pad{
                    width: 20px;
                }
            }
        }
    }

    .blog-pageControl{
        border-top: 1px solid #707070;
        display: flex;
        justify-content: space-between;
        padding-top: $spacing-1*3;
        @include mobile{
            padding-top: $spacing-1;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .blogUp, .blogDown{
        > a{
            color: #000;
            display: flex;
            align-items: center;
            > img{
                @include pad{
                    width: 20px;
                }
            }
            > p{
                font-size: 19px;
                margin: 0 $spacing-1;
                @include pad{
                    font-size: $fonz-size*2;
                }
            }
        }
    }
    .blogUp{
        @include mobile{
            margin-bottom: $spacing-1;
        }
    }
    .blogDown{
        > a{
            flex-direction: row-reverse;
            @include mobile{
                flex-direction: row;
            }
        }
    }
}


.pad-off{
    @include pad{
        display: none;
    }
    @include mobile{
        display: block;
    }
}
.pad-on{
    display: none;
    @include pad{
        display: block;
    }
    @include mobile{
        display: none;
    }
}