
//  font-size
$fonz-size: 8px;

// font-weight
$fontWeight-Regular: 400;
$fontWeight-Medium: 500;
$fontWeight-Bold: 700;
$fontWeight-Black: 900;

// color
$primary: #AA0601;//主色
$secondary: #111619;//次要色
$back-light: #FBF2F2;//淺色
$font-color: #b34c48;
$title-color: #650300;

// spacing
$spacing-1: 8px;




